.ts-container {
    .ts-card {
        margin-bottom: 24px;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.text-center {
    text-align: center;
}

.tablewithoutScrollStickyHeader table thead th {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    padding: 7px;
    border: 1px solid #fff;
    background-color: #555555;
    color: white;
    text-align: center;
}

.tablewithoutScrollStickyHeader table tfoot th {
    font-size: 11px;
    line-height: 16px;
    padding: 15px;
    color: #454545;
}

.tablewithoutScrollStickyHeader table tbody td {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 10px;
    border: 1px solid #eee;
}

.tableScrollStickyHeader {
    overflow: auto;
    max-height: 500px;
    margin-top: 20px;
}

.tableScrollStickyHeader::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

.tableScrollStickyHeader::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 5px;
}

.tableScrollStickyHeader table thead th {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    padding: 7px;
    border: 1px solid #fff;
    background-color: #555555;
    color: white;
    text-align: center;
}

.tableScrollStickyHeader table thead {
    position: sticky;
    top: 0;
}

.tableScrollStickyHeader table tfoot th {
    font-size: 11px;
    line-height: 16px;
    padding: 15px;
    color: #454545;
}

.tableScrollStickyHeader table tbody td {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 10px;
    border: 1px solid #eee;
}

.tr-odd {
    background-color: rgba(69, 69, 69, 0.03);
}

.tableScrollStickyHeaderTwo {
    overflow: auto;
    max-height: 1000px;
}

.tableScrollStickyHeaderTwo::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

.tableScrollStickyHeaderTwo::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 5px;
}

.tableScrollStickyHeaderTwo table thead th {
    position: sticky;
    top: 0;
    background-color: #fff;
    font-weight: 600;
    font-size: 12.5px;
    line-height: 19px;
    color: #454545;
    padding: 15px 0;
    border-bottom: 0.25px solid rgba(69, 69, 69, 0.1);
}

.tableScrollStickyHeaderTwo table tbody tr {
    border-bottom: 0.25px solid rgba(69, 69, 69, 0.1);
}

.tableScrollStickyHeaderTwo table tbody tr li {
    font-size: 13px;
    line-height: 19px;
    color: #454545;
}

.tableScrollStickyHeaderTwo table tbody tr li a {
    font-size: 13px;
    line-height: 19px;
    color: #454545;
}

.blue{
    background-color: royalblue;
    color: white;
}

.orange{
    background-color: orange;
    color: white;
}
