.ts-container {
    .ts-card {
        margin-bottom: 24px;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.text-center {
    text-align: center;
}


.tableScrollStickyHeader {
    overflow: auto;
    max-height: 500px;
}

.tableScrollStickyHeader::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

.tableScrollStickyHeader::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 5px;
}

.tableScrollStickyHeader table thead th {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #555555;
    color: white;
    text-align: center;
}

.tableScrollStickyHeader table thead {
    position: sticky;
    top: 0;
}

.tableScrollStickyHeader table tfoot {
    position: sticky;
    bottom: 0;
    background-color: #fff;
}

.tableScrollStickyHeader table tfoot th {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 10px;
    border: 1px solid #eee;
}

.tableScrollStickyHeader table tbody td {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 10px;
    border: 1px solid #eee;
}



.tr-odd {
    background-color: rgba(69, 69, 69, 0.03);
}


.blue{
    background-color: royalblue;
    color: white;
}

.orange{
    background-color: orange;
    color: white;
}

.text-bold{
    font-weight: 600;
}

.total-div{
    margin: 12px 0 12px auto;
    font-weight: 500;
    padding: 3px 10px;
    border: 1px solid #b0b0b0;
    width: fit-content;
}

.table-div {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 220px;
    min-width: 170px;
    margin: auto;
}

.bg-green {
    background-color: #4caf50 !important;
    color: #fff;
}

.bg-orange {
    background-color: #ff9800 !important;
    color: #fff;
}

.bg-red {
    background-color: #f44336 !important;
    color: #fff;
}