.nopress {
    background-image: url("../../../../assets/img/llanta1.jpg");
}

.press {
    background-image: url("../../../../assets/img/llanta2.jpg");
}

.bg-black {
    color: #fff;
    height: 87px;
    text-shadow: #040404 2px 1px 1px;
    border-style: solid;
    border-color: #e2e2e2;
    border-width: 0 0px 0 1px;
    padding: 5px 0;
}

.row-tire .bg-black:last-child {
    border-width: 0 1px 0 1px;
}

.tire-div {
    width: 20%;
}

.blanck-div {
    width: 10%;
}

.tire {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    color: white;
}

.tire:active {
    outline: none;
    border: none;
}

.tire:focus {
    outline: 0;
}

.vehicle {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 auto 10px;
    background-color: #3f51b5;
    color: white;
}

.red {
    color: red;
}
