.main__sidenav {
    //background: white;
    width: 300px;
}

.main-container {
    height: calc(100vh - 66px);
}

.second-toolbar {
    display: none;
}

.name-customer {
    display: block;
}

@media (max-width: 599px) {
    .main-container {
        height: calc(100vh - 58px);
    }

    .second-toolbar {
        display: block;
    }

    .name-customer {
        font-size: 0.65em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.main__toolbar {
    background: white;
    border-bottom: 2px solid;
    /*background: black;
    color: white;*/
}

.main__logo {
    margin-right: 10px;
}

.main__logomovil {
    max-width: 200px;
    padding: 7px 0;
    height: 56px;
}

.main__logoimage {
    width: 150px;
    vertical-align: middle;
}

.login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    padding: 28px 10px 20px;
    position: relative;
    justify-content: center;
}

.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    padding: 28px 40px 20px;
    position: relative;
    justify-content: left;
}

.user__name {
    width: 60%;
    text-align: left;
    font-size: x-large;
}

.user__surname {
    width: 60%;
    text-align: left;
    font-size: small;
    font-weight: normal;
}

.user__image {
    border-width: 3px;
    border-style: solid;
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 15px;
}

.menu__title {
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 20px;
}

.menu__button {
    text-align: left;
    border-radius: 0px 0px 0px 0px;
    padding: 5px 24px;
    font-size: 1em;
    width: 100%;
    //color: #2B2B2B;
}

.menu__icon {
    vertical-align: middle;
    margin-right: 10px;
}

.meraki {
    width: 300px;
    padding: 25px 0 0 0;
    position: relative;
}

.main__space {
    padding-top: 64px;
}

.body-container {
    height: calc(100vh - 66px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.menu-header {
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
}

.user-div {
    padding: 13px 15px 12px 15px;
    border-bottom: 4px solid #302f2f;
    background: url("../../assets/img/user-img-background.jpg") no-repeat no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 134px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; 
    & img {
        width: 48px;
        border-radius: 50%;
        margin-bottom: 16px;
    }
}

.user-name {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    width: 100%;
}

.text-ellipse {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 599px) {
    .main__logoimage {
        width: 100px;
    }

    .main__space {
        padding-top: 56px;
    }

    .body-container {
        height: calc(100vh - 58px);
    }

    .user-div{
        height: 116px;
    }
}


.mat-item-list-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 20px;
}

.mat-icon-menu {
    width: 22px !important;
    height: 22px !important;
    font-size: 22px !important;
}

.active {
    background: rgba($color: #2778c4, $alpha: 0.08);
    color: #2778c4 !important;
}

.nav-active{
    color: #2778c4 !important;
}

::ng-deep .active .mat-item-list-span {
    color: #2778c4 !important;
}

::ng-deep .nav-active .mat-item-list-span {
    color: #2778c4 !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px 0px !important;
}

::ng-deep .mat-list-base {
    margin-top: 0px !important;
    width: 100%;
}

.mat-list-item-second {
    color: #666666;
    padding-left: 40px !important;
}

::ng-deep .mat-expansion-panel-header {
    padding: 0px 0px !important;
}

::ng-deep .mat-expansion-indicator {
    margin-right: 20px !important;
}

::ng-deep .mat-expansion-panel {
    box-shadow: 0px 0px 0px 0px white !important;
}

