.main__sidenav {
    //background: white;
    width: 300px;
}

.main-container {
    height: calc(100vh - 66px);
}

.second-toolbar {
    display: none;
}

.name-customer {
    display: block;
}

.sider {
    width: 330px;
}

@media (max-width: 599px) {
    .main-container {
        height: calc(100vh - 58px);
    }

    .second-toolbar {
        display: block;
    }

    .name-customer {
        font-size: 0.65em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media (max-width: 960px) {
    .sider {
        width: 270px;
    }
}
.main__toolbar {
    background: white;
    border-bottom: 2px solid;
    /*background: black;
    color: white;*/
}

.main__logo {
    margin-right: 10px;
}

.main__logomovil {
    max-width: 200px;
    padding: 7px 0;
    height: 56px;
}

.main__logoimage {
    width: 150px;
    vertical-align: middle;
}

.login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    padding: 28px 10px 20px;
    position: relative;
    justify-content: center;
}

.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    padding: 28px 40px 20px;
    position: relative;
    justify-content: left;
}

.user__name {
    width: 60%;
    text-align: left;
    font-size: x-large;
}

.user__surname {
    width: 60%;
    text-align: left;
    font-size: small;
    font-weight: normal;
}

.user__image {
    border-width: 3px;
    border-style: solid;
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 15px;
}

.menu__title {
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 20px;
}

.menu__button {
    text-align: left;
    border-radius: 0px 0px 0px 0px;
    padding: 5px 24px;
    font-size: 1em;
    width: 100%;
    //color: #2B2B2B;
}

.menu__icon {
    vertical-align: middle;
    margin-right: 10px;
}

.meraki {
    width: 300px;
    padding: 25px 0 0 0;
    position: relative;
}

.meraki__logo {
    width: 80px;
}

.main__space {
    padding-top: 64px;
}

@media (max-width: 601px) {
    .main__logoimage {
        width: 100px;
    }

    .main__space {
        padding-top: 56px;
    }
}

@media (min-width: 602px) {
    .main__toolbar {
        padding-right: 8.333333%;
    }

    .search-form__input {
        width: 150px;
    }

    .search-div {
        display: none;
    }
}

.menu-header {
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
}

.user-div {
    padding: 13px 15px 12px 15px;
    border-bottom: 1px solid #e9e9e9;
    background: url("../../assets/img/user-img-background.jpg") no-repeat no-repeat;
    background-position: bottom;
    background-size: cover;
    & img {
        width: 48px;
        border-radius: 50%;
        margin-bottom: 16px;
    }
}

.user-name {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    width: calc(100% - 40px);
}

.text-ellipse {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nav-active {
    color: #3f51b5;
    font-weight: bold;
}
