<div mat-dialog-title>
    <div style="font-size: 1em;">Detalle de inspección</div>
    <mat-divider></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="loader"></mat-progress-bar>
</div>

<mat-dialog-content>
    <div style="margin-bottom: 5px;">
        <app-table-responsive [data]="allData" [search]="false" [columns]="columns" [show]="2" [options]="false"
            [delete]="false" (onEdit)="edit($event)"></app-table-responsive>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" type="button" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>