<div class="ts-container">
    <div style=" max-width: 300px;margin:10px auto;">
        <div style=" margin-bottom: 16px;">
            <img class="w3-card-4" (click)="photoURL.click()" *ngIf="photo!=null" style="width: 100%;" [src]="photo"
                alt="fotografía">
            <img class="w3-card-4" (click)="photoURL.click()" *ngIf="photo==null" style="width: 100%;"
                src="../../../assets/img/imagen_no_disponible.jpg" alt="sin fotografía">
    
            <mat-progress-bar *ngIf="photos?.resizing$.photoURL | async" style="width:100%" mode="indeterminate">
            </mat-progress-bar>
            <span *ngIf="photos.resizing$.photoURL | async" style="width:100%;font-size: 0.7em;">*comprimiendo</span>
            <input style="display: none" #photoURL type="file" accept='image/*' capture="environment"
                (change)="addNewPhoto('photoURL', photoURL.files)" />
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="end end">
    
            <button color="warn" mat-raised-button [disabled]="!photoFile" (click)="save()">
                Guardar
            </button>
        </div>
    </div>
</div>