<div class="ts-container">
    <div class="ts-card">
        <div class="title">Indicador Costo por Kilómetro (Nuevos) 2021</div>
        <div class="subtitle">No se consideran neumáticos en SCRAP</div>
        <mat-divider></mat-divider>
        <div class="img-div">
            <img src="../../../assets/img/calculo_costo.png" alt="">
        </div>
        <table id="rdx_tabla_costo_x_kilometro" class="rdx_tabla_costo_x_kilometro table table-hover">
            <!--caption> <h2> Registro Anual de Indicadores </h2></caption-->
            <thead style="background-color: black;color: white;">
                <tr>
                    <th style="text-align: center;">Proceso</th>
                    <th style="text-align: center;">Indicador</th>
                    <th style="text-align: center;">Marca</th>
                    <th style="text-align: center;">Modelo (N)</th>
                    <th style="text-align: center;">Medidas</th>
                    <th style="text-align: center;">Criterio de Aceptación</th>
                    <th> Marzo</th>
                    <th> Abril</th>
                    <th> Mayo</th>
                </tr>
            </thead>
            <tbody class="table-center-middle">
                <tr>
                    <td style="writing-mode: vertical-lr;transform: rotate(180deg);" rowspan="3">KPI</td>
                    <td style="writing-mode: vertical-lr;transform: rotate(180deg);" rowspan="3">COSTO X KILOMETRO</td>
                    <td>YOKOHAMA</td>
                    <td>MY507</td>
                    <td>12R22.5</td>
                    <td>
                        <table class="table-div">
                            <tbody>
                                <tr class="bg-green">
                                    <td style="padding: 0;"> ( Objetivo &lt; </td>
                                    <td style="padding: 0;">0.0130 )</td>
                                </tr>
                                <tr class="bg-orange">
                                    <td style="padding: 0;"> ( Tolerable </td>
                                    <td style="padding: 0;"> [0.0150 - 0.0130] ) </td>
                                </tr>
                                <tr class="bg-red">
                                    <td style="padding: 0;"> ( Deficiente &gt; </td>
                                    <td style="padding: 0;">0.0150 )</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="bg-green" style="border: solid 1px;">0.0089</td>
                    <td class="bg-green" style="border: solid 1px;">0.0094</td>
                    <td class="bg-green" style="border: solid 1px;">0.0040</td>
                </tr>
                <tr>
                    <td>YOKOHAMA</td>
                    <td>LY053</td>
                    <td>12R22.5</td>
                    <td>
                        <table class="table-div">
                            <tbody>
                                <tr class="bg-green">
                                    <td style="padding: 0;"> ( Objetivo &lt; </td>
                                    <td style="padding: 0;">0.0110 )</td>
                                </tr>
                                <tr class="bg-orange">
                                    <td style="padding: 0;"> ( Tolerable </td>
                                    <td style="padding: 0;"> [0.0130 - 0.0110] ) </td>
                                </tr>
                                <tr class="bg-red">
                                    <td style="padding: 0;"> ( Deficiente &gt; </td>
                                    <td style="padding: 0;">0.0130 )</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="bg-red" style="border: solid 1px;">0.0178</td>
                    <td class="bg-red" style="border: solid 1px;">0.0264</td>
                    <td class="bg-red" style="border: solid 1px;">0.0142</td>
                </tr>
                <tr>
                    <td>YOKOHAMA</td>
                    <td>LY053</td>
                    <td>11.00R20</td>
                    <td>
                        <table class="table-div">
                            <tbody>
                                <tr class="bg-green">
                                    <td style="padding: 0;"> ( Objetivo &lt; </td>
                                    <td style="padding: 0;">0.0115 )</td>
                                </tr>
                                <tr class="bg-orange">
                                    <td style="padding: 0;"> ( Tolerable </td>
                                    <td style="padding: 0;"> [0.0140 - 0.0115] ) </td>
                                </tr>
                                <tr class="bg-red">
                                    <td style="padding: 0;"> ( Deficiente &gt; </td>
                                    <td style="padding: 0;">0.0140 )</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="bg-green" style="border: solid 1px;">0.0040</td>
                    <td class="bg-green" style="border: solid 1px;">0.0006</td>
                    <td class="bg-green" style="border: solid 1px;">0.0006</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="ts-card" fxFlex="100" fxFlex.gt-md="49">
            <div class="title">Índice de reencauche 2021</div>
            <div class="subtitle">No se consideran neumáticos en SCRAP</div>
            <mat-divider></mat-divider>
            <div class="img-div">
                <img src="../../../assets/img/F1.png" alt="">
            </div>
            <app-bar-chart [label]="'Índice de reencauche(%)'" [dataX]="months" [dataY]="data1" [type]="1">
            </app-bar-chart>
        </div>
        <div class="ts-card" fxFlex="100" fxFlex.gt-md="49">
            <div class="title">Índice de reencauchabilidad 2021</div>
            <div class="subtitle">No se consideran neumáticos en SCRAP</div>
            <mat-divider></mat-divider>
            <div class="img-div">
                <img src="../../../assets/img/F2.png" alt="">
            </div>
            <app-bar-chart [label]="'Índice de reencauchabilidad'" [dataX]="months" [dataY]="data2" [type]="1">
            </app-bar-chart>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="ts-card" fxFlex="100" fxFlex.gt-md="49">
            <div class="title">Neumáticos por Marcas</div>
            <div class="subtitle">No se consideran neumáticos en SCRAP</div>
            <mat-divider></mat-divider>
            <app-pie-chart [label]="'Marca'" [data]="dataP1" [type]="1"></app-pie-chart>
        </div>
        <div class="ts-card" fxFlex="100" fxFlex.gt-md="49">
            <div class="title">Condición de neumáticos</div>
            <div class="subtitle">No se consideran neumáticos en SCRAP</div>
            <mat-divider></mat-divider>
            <app-pie-chart [label]="'Condición'" [data]="dataP2" [type]="1"></app-pie-chart>
        </div>
    </div>
    <div class="ts-card">
        <div class="title">Neumáticos por Diseño</div>
        <div class="subtitle">No se consideran neumáticos en SCRAP</div>
        <mat-divider></mat-divider>
        <app-bar-chart [label]="'Por Modelo'" [dataX]="brands" [dataY]="data3" [type]="1"></app-bar-chart>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="ts-card" fxFlex="100" fxFlex.gt-md="49">
            <div class="title">Neumáticos por Estado</div>
            <div class="subtitle">No se consideran neumáticos en SCRAP</div>
            <mat-divider></mat-divider>
            <app-pie-chart [label]="'Estado'" [data]="dataP3" [type]="1"></app-pie-chart>
        </div>
        <div class="ts-card" fxFlex="100" fxFlex.gt-md="49">
            <div class="title">Neumáticos por Medida</div>
            <div class="subtitle">No se consideran neumáticos en SCRAP</div>
            <mat-divider></mat-divider>
            <app-bar-chart [label]="'Neumático'" [dataX]="tiers" [dataY]="data4" [type]="1"></app-bar-chart>
        </div>
    </div>
</div>